/node_modules
/test/node_modules
/npm-debug.log
/native.js
/native.d.ts
/custom.js
/custom.mjs
/custom.d.ts
/test/custom.d.ts
/index.js
/index.mjs
/index.min.js
/index.d.ts
/test/index.d.ts
/.vscode
/.idea
/test/browser/test_bundle.js
/.source.*
